@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: ProximaNova, Arial, Sans-Serif;
}
body {
  background-color: #e2e2e2;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

p,
label {
  color: #444;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 400px;
}

/* Botão Whatsapp */
.whatsapp {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 300;
  display: flex;
  cursor: pointer;
  border-radius: 100px;
  height: 45px;
  width: 35px;
  align-items: center;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #26d366;
  padding: 7px 16px 9px 12px;
  transition: background-color 0.1s ease,
    width 0.4s cubic-bezier(0.75, 0.09, 0.36, 1);
  text-decoration: none;
}

.icon-whatsapp {
  width: 38px;
  height: 38px;
  margin-right: 9px;
}
.icon-span {
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  font-family: ProximaNova, Arial, Sans-Serif;
}

@media only screen and (min-width: 961px) {
  .whatsapp:hover {
    width: 228px;
    padding: 7px 16px 9px 12px;
    text-decoration: none;
  }
  .icon-span {
    opacity: 1;
  }
}

/* Page header */
.header {
  height: 500px;
  padding: 20px;
  background-image: url(./assets/jeep-capa.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

/* Form container */

.form-container {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -62px;
  margin-bottom: 50px;
}

/* Form header */
.form-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
}

.form-header p {
  color: #000;
  border-bottom: 2px solid #eaab00;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}
.form-body {
  padding: 50px;
}
.form-body p {
  margin-bottom: 20px;
}
.form-title {
  margin-bottom: 20px;
}
.required-field {
  color: #d80835;
}
.block {
  display: block;
}
.box-input {
  margin-bottom: 35px;
}
.optional-box {
  display: inline-block;
  margin: 0 30px 30px 0;
}
.optional-list li {
  list-style: none;
  margin-bottom: 5px;
}
.box-input p {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: #eaab00;
  border-radius: 3px;
  color: #000;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-submit:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

/* Info Jeep */
.info-text-jeep {
  width: 60%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  padding: 15px;
  margin-bottom: 110px;
}
.info-text-jeep p {
  font-size: 10px;
  padding-bottom: 8px;
}
.ads {
  width: 65%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  margin-bottom: 110px;
}
.ads img {
  width: 100%;
}

footer {
  display: flex;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  justify-content: center;
}
.footer-hub {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
}
.footer-hub a {
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 0 10px 10px;
}
.facebook {
  background-image: url(./assets/icon-facebook.svg);
}
.instagram {
  background-image: url(./assets/icon-instagram.svg);
}
.x {
  background-image: url(./assets/twitter.png);
}
.youtube {
  background-image: url(./assets/icon-youtube.svg);
}

.footer-container {
  padding: 70px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

.footer-content h3 {
  color: #fff;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-content a {
  font-family: "Roboto";
  text-decoration: none;
  color: #929292;
}
.footer-content li {
  list-style: none;
  padding-bottom: 10px;
}

/* Inuput color custom */

#preview img {
  max-height: 100px;
  padding: 2px;
}

input[type="color"] {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0 35px 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* Text area */

textarea {
  width: 400px;
  padding: 5px;
  border-color: #ccc;
}

/* Input data  */

input[type="date"] {
  font-family: ProximaNova, Arial, Sans-Serif;
}

/* Text input custom */

input:focus {
  outline: none;
  background-color: #fdfdfd;
  font-family: ProximaNova, Arial, Sans-Serif;
}
